services:
  db:
    image: postgres:15-alpine
    container_name: postgres_db
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network

  redis:
    image: redis:alpine
    container_name: redis
    env_file:
      - .env
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - app_network


  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: drf_web
    command: >
      bash -c "
        ~/rfrjq/wait-for-it.sh db:5432 --timeout=60 --strict -- &&
        python manage.py migrate &&
        python manage.py collectstatic --noinput &&
        python manage.py runserver 0.0.0.0:8000
      "

    volumes:
      - .:/app
      - static_volume:/app/static
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis
    networks:
      - app_network


  nginx:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    ports:
      - "80:80"
    depends_on:
      - web
    volumes:
      - static_volume:/app/staticfiles
    networks:
      - app_network


  celery_worker:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: celery_worker
    command: celery -A config worker --loglevel=info -P eventlet
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - web
    networks:
      - app_network

  celery_beat:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: celery_beat
    command: celery -A config beat --loglevel=info
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - web
      - celery_worker
    networks:
      - app_network

volumes:
  postgres_data:
  redis_data:
  static_volume:

networks:
  app_network:
    driver: bridge
